[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[packages]

slackbot = "*"
mistune = "*"
dropbox = "*"
birdy = "*"
douban-client = "*"
"Fabric3" = "==1.12.0.post1"
simplenote = "*"
pelican = "3.7.1"
Markdown = "*"
ghp-import = "*"
click = "*"
python-telegram-bot = "*"


[dev-packages]

