/*@import url("pygment.css");*/
body { margin:0px; padding:20px 0px; color:#585858;  }
a, a:visited { text-decoration:none; color: #1abc9c;  }
a:hover { color:#1abcb7; text-decoration:none; }
h1, h2, h3, h4, h5, h6, h7 { margin:0px; text-transform:uppercase;  }
h4, h5, h6 { font-size:14px;  }
h1 { padding:0px 0px 15px; margin:0px 0px 15px 0px;  }
blockquote { font-style:italic; background:#EAEAEA; margin:20px; padding:5px 10px;  }
blockquote cite { display:block; padding:10px 20px 0 0; text-align:right;  }
input, textarea { padding:5px; border:1px solid #8A8A8A; background:#EAEAEA;  }
input:hover, textarea:hover, blockquote:hover { background:#E5E5E5;  }
hr{ border: 0; margin: 1.4em 0; color: #1abc9c; height: 1em; }
hr:before {content: '...'; display: block; width: 100%; letter-spacing: 2em; text-indent: 2em; z-index: 1; line-height: .5; text-align: center;}
#container { margin: 20px; }
