{% extends "base.html" %}
{% block robots %}follow{% endblock %}
{% block content_title %}{% endblock %}
{% block content %}
{% for category, issues in categories %}
    {% if category == 'issues' %}
        {% for issue in issues %}
            <article class="hentry">
                <header>
                    <h3>
                        <a href="{{ SITEURL  }}/{{ issue.url  }}" rel="bookmark"
                            title="Permalink to {{ issue.title|striptags  }}"
                            >{{ issue.title  }}</a>
                    </h3>
                </header>
                <section>{{ issue.content|truncate(200)}}</section>
            </article>
            <hr>
        {% endfor %}
    {% endif %}
{% endfor %}
<p>声明:</p>
<ul>
  <li>Techshack Weekly 所有内容以 <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/">CC-BY-NC-SA 3.0</a> 协议发布。</li>
  <li>若对内容正确性存疑，请发推文并 <a href="https://twitter.com/techshackweekly">@techshackweekly</a>。</li>
</ul>

{% endblock content %}
