{% extends "base.html" %}
{% block robots %}follow{% endblock %}
{% block content_title %}{% endblock %}
{% block content %}
{% for category, issues in categories %}
    {% if category == 'issues' %}
        {% for issue in issues %}
            <article class="hentry">
                <header>
                    <h3>
                        <a href="{{ SITEURL  }}/{{ issue.url  }}" rel="bookmark"
                            title="Permalink to {{ issue.title|striptags  }}"
                            >{{ issue.title  }}</a>
                    </h3>
                </header>
                <div class="entry-content">
                    {{ articles | newsletter_verses(issue) | newsletter_content(issue) | md}}
                    <a class="readmore" href="{{ SITEURL  }}/{{ issue.url  }}"
                            >阅读更多</a>
                </div>
            </article>
            <hr>
        {% endfor %}
    {% endif %}
{% endfor %}

{% endblock content %}
